canvas {
  float: left;
  border: 1px solid black;
  background-color: black;
}
.sidebar{
  float: left;
}

.toolbar{
  border: 1px solid black;
  margin-left: 10px;
  width: 200px;
  height: 300px;
  padding: 5px;
}

.info{
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  width: 200px;
  height: 200px;
}

.clear { clear: both; }

a img{
  border: none;
}

a.building-btn{
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
}

.help{
  display: none;
}

.dialog {
  display: none;
  position: absolute;
  border: 1px solid black;
  background-color: white;
  text-align: center;
}

.dialog p {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.close-btn {
  float: right;
  color: red;
  font-weight: bold;
  display: block;
  text-decoration: none;
  font-family: Arial;
  margin-right: 2px;
}
